<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="TrackingAPIHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\CDL\cdl-tracking-api\venv\Scripts\python.exe|C:\CDL\cdl-tracking-api\venv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            <add name="OrderFinder" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\cdl\dev-projects\cdl-tracking-api\venv\scripts\python.exe|c:\cdl\dev-projects\cdl-tracking-api\venv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
